@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,100;1,100&display=swap');

:root {
  color: #F2ECE9;
}

em {
  font-style: italic;
}

h1 {
  font-family: 'Playfair Display', serif;
}
h2, p {
  font-family: 'Roboto', sans-serif;
}

.subtext {
  color: rgba(255, 255, 255, 0.5);
}

body {
  padding: 0;
  margin: 2rem;
  // overflow: hidden;
  background-color: #202124;
}

.container {
  text-align: center;
}

#inlay-container {
  margin: auto;
  overflow: hidden;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: none;
  background-size: cover;
}

.page {
  border: solid 1px gray;
  overflow: hidden;

  .page-content {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
